body {
    font-family: Arial, sans-serif;
    background-color: #f9f6f6; 
    color: #0a0a0a; 
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f4f4; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download-container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: rgb(8, 8, 8); 
}

input, button {
    display: block;
    margin: 10px auto;
}

button {
    background-color: rgb(15, 15, 15); 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #7d7b79; 
}

.output-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
